<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
	<link rel="stylesheet" type="text/css" href="./css/style.css" media="all" />
	<script type="text/javascript" src=""></script>
	<title>かずー氏アイコンジェネレーター</title>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div id="h-left" class="left"></div>
        <div id="h-right" class="left">
          <ul>
            <li>使い方</li>
            <li>よくある質問</li>
            <li>作者</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
