<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="./css/reset.css" media="all" />
	<link rel="stylesheet" type="text/css" href="./css/style.css" media="all" />
        
	<title>かずー氏アイコンジェネレーター</title>
  </head>
  <body>
    <div id="content">
      <div id="header">

        <div id="h-left" class="left">
          <div id="title-left" class="left">
            <img src="images/kazoo_origin.png" class="kazoo_icon" >
          </div><!-- /#title-left -->
          <div id="title-right" class="left">
            <h1 id="upper">かずー氏アイコン<br/> ジェネレーター</h1>
          </div><!-- /#title-right -->
        </div><!-- /#h-left-->

        <div id="h-right" class="left">
          <ul>
            <li class="left"><a href="#howto" class="fancybox">使い方</a></li>
            <li class="left"><a href="#faq" class="fancybox">よくある質問</a></li>
            <li class="left"><a href="#other" class="fancybox">その他</a></li>
          </ul>
        </div><!-- /#h-right -->
      </div><!-- /#header -->
      
      <div id="manual" class="clearfix">

        <div id="m-left" class="m left">
          <h2>STEP:1</h2>
          <p>透過PNG画像を用意してください。</p>
          <img src="images/quco.png" class="auto">
        </div>

        <div id="m-center" class="m left">
          <h2>STEP:2</h2>
          <p>ジェネレータで背景とくっつけます。</p>          
          <div class="clearfix">
            <div class="left adjust"><img src="images/quco.png" class="auto"></div>
            <div class="left adjust"><img src="images/kazoo_origin_bg.png" class="auto"></div>
          </div>
          <p class="compo">Combine!</p>
        </div>

        <div id="m-right" class="m left">
          <h2>STEP:3</h2>
          <p>かずー氏アイコンのできあがり！</p>
          <img src="images/result.png" class="auto">

        </div>
      </div><!--/#manual -->

      <div id="form">
        <form method="post" enctype="multipart/form-data" action="/create" id="uploader" target="ajaxPostImage">
          <input type="file" name="file" size="30">
          <input id="ctoken" type="hidden" name="token" value="<%= @token %>">
          <button id="submit_button" class="submit" type="submit">作成</button>
        </form>
      </div><!--/#form -->
    </div><!-- /#content -->
    <!-- For ajax file upload -->
    <iframe name="ajaxPostImage" id="ajaxPostImage" style="display:none;"></iframe>
    <div id="howto" class="popup" style="display:none">
      <h2>使い方</h2>
      <ol>
        <li>ページ下部の「ファイルを選択」から、かずー氏アイコンにしたい画像を選んでください。</li>
        <li>ファイルを選んだら「作成」ボタンを押してください。</li>
        <li>成功するとかずー氏アイコンが表示されるので保存して使用してください。</li>
      </ol>
    </div>

    <div id="faq" class="popup" style="display:none">
      <h2>よくある質問</h2>
      <dl>
        <dt>Q. かずー氏って？</dt>
        <dd>A. <a href="http://twitter.com/kazoo04">三(^o^)ノ わたしがかずー氏だ。(twitter)</a></dd>
      </dl>     
    </div>

    <div id="other" class="popup" style="display:none">
      <h2>その他</h2>
      <dl>
        <h3>関係者紹介</h3>
        <dt>作者</dt>
        <dd>Moosan63 : <a href="http://twitter.com/moosan63">twitter</a> / <a href="http://moosan.org">web</a> </dd>
        <dt>アイコンの絵</dt>
        <dd>ちょこぷよ : <a href="http://twitter.com/chocopuyo">twitter</a></dd>
        <dt>スーパーツイートアドバイザー</dt>
        <dd>かずー氏 : <a href="http://twitter.com/kazoo04">twitter</a></dd>
      </dl>     
    </div>
  </body>

  <!-- javascripts -->
  <script src="./fancybox/lib/jquery-1.8.0.min.js"></script>
  <!-- fancybox -->
  <script type="text/javascript" src="./fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
  <link rel="stylesheet" href="./fancybox/source/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
  <script type="text/javascript" src="./fancybox/source/jquery.fancybox.pack.js?v=2.1.0"></script>

  <script>
  var $form, $iframe, $trigger;

  $form = $('#uploader');
  $trigger = $('#submit_button');
  $iframe = $('iframe[name="ajaxPostImage"]');

  $trigger.click(function() {
    $form.submit();
    return false;
  });

  $form.submit(function() {
    $iframe.unbind().bind('load', function() {
      var response;
      response = $iframe.contents().find("#imglink");
      $("body").append(response);
      $(response).trigger("click");
    });
  });

  //fancybox
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
  </script>

</html>
